@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@100;200;400&family=Orbitron&family=Poppins:wght@100;200;400&family=Roboto:wght@100;400&display=swap');

:root {
    /*Fonts*/
    --Lexend-Deca: 'Lexend Deca', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
    --Orbitron: 'Orbitron', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    /*Colors*/
    --Blurple: #7289DA;
    --Dark: #2C2F33;
    --Darker: #23272A;
    --Greyple: #99AAB5;
    --Not-White: #EEE;
}

